@charset "utf-8";

@media screen and (max-width: 670px) {
    .global-nav {
        display: none;
    }
    #index h1{
        font-size: 50px;
    }
    #about .profile-txt p{
        font-size: 13px;
    }
    #about .career td{
        padding: 12px 12px;
    }
    #contact .access th{
        line-height: normal;
    }
    .transmission-btn {
        margin-left: 20px;
    }
    #contact .form dl dt {
        font-size: 10px;
    }
    #contact .form dd{
    font-size: 8px;
    }
    #contact .form button {
    margin-left: 30px;
    }
    #contact .form .attention{
        margin-left: 10px;
    }
    #about footer {
        width: 100%;
    }
    #contact .form dd {
        font-size: 14px;
    }
    .language-box {
        width: 100%;
    }
    .btn {
        display: none;
    }
    #about {
    background-image: url(../images/about.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% 40%;
    }
    #contact {
    background-image: url(../images/message.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% 40%;
    }
    /*------ハンバーガーメニュー--------*/

    #hamburger {
        opacity: 0;
        position: fixed;
    }
    label .burger {
        position: fixed;
        z-index: 5;
        top: 1.3rem;
        left: 20rem;
        width: 2rem;
        height: 2rem;
    }
    label .burger::before,
    label .burger::after,
    label .burger .bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.25rem;
        border-radius: 5px;
        background: #fff;
        content: "";
        transition: all 0.5s;

    }
    label .burger::before {
        top: 0;
        transform-origin: top left;
    }
    label .burger::after {
        bottom: 0;
        transform-origin: bottom left;
    }
    label .burger .bar {
        top: 45%;
    }
    #menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    #menu::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 17rem;
        background: #d6295d;
        content: "";
        transform: translateX(-100%);
        transform-origin: bottom left;
        transition: transform 0.3s;
    }
    #menu a {
        margin: 1.3rem 0;
        padding: 0.2rem 3rem;
        font-size: 1.5rem;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        text-decoration: none;
        transform: translateX(-100%);
        transition: all 0.15s, tansform 0.5s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    #hamburger:checked + label .burger::before,
    #hamburger:checked + label .burger::after {
        width: 130%;
    }
    #hamburger:checked + label .burger::before {
        transform: rotate(45deg);
    }
    #hamburger:checked + label .burger::after {
        transform: rotate(-45deg);
    }
    #hamburger:checked + label .burger .bar {
        transform: scale(0);
    }
    #hamburger:checked ~ #menu::before {
        transform: skewX(15deg) translateX(0);
    }
    #hamburger:checked ~ #menu a {
        transform: translateX(0);
    }
    #hamburger:checked ~ .light-dark {
        background: #000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}
    

