@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}
p,h1,h2,h3,h4,h5,h6 {
    margin-top:  0;
}
img {
    vertical-align: bottom;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: #3583aa;
    text-decoration: none;
}
a:valid {color: #788d98;
}
a:hover {
    text-decoration: underline;
}
header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.logo img {
    width: 40%;
    background-color: #ffffff;
    padding: 5px 5px;
    margin-left: 5px;
}
.logo {
    float: left;
    margin-top: 50px;
}
.global-nav {
    float: right;
    margin-top: 60px;
}
.global-nav li {
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
}
.global-nav li a {
    color: #333333;
}
.global-nav li a:hover {
    border-bottom: 2px solid #333333;
    padding-bottom: 3px;
    text-decoration: none;
}
#skill .global-nav li a {
    color: #ffffff;
}
#skill .global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
}
#wrap {
    clear: both;
    background-color: #ffffff;
    margin-top: 100px;
    padding: 35px 0;
}
.content {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
footer {
    text-align: center;
    color: #fdfdfd;
    padding: 20px 0; 
    background-color: #767671;
}
footer small {
    font-size: 12px;
}
#index h1{
    font-size: 100px;
    line-height: 1;
    color: #333333;
    font-family: 'Bitter',serif;
    margin-bottom: 50px;
    border: none;
}
#index .content{
    margin-top: 150px;
}
#index p {
    font-size: 16px;
    color: #ffffff;
}
.shadow {
    font-size: 16px;
    color: #ffffff;
    text-shadow:1px 0 0 rgb(12, 12, 12),0 1px 0 rgb(2, 2, 2),-1px 0 0 rgb(2, 2, 2),0 -1px 0 rgb(8, 8, 8);
}
.btn a {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter',serif;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}
.btn a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}
#index footer {
    width: 100%;
    text-align: left;
    margin-top: 150px auto 0 auto;
    background-color: transparent;
}

#index {
    background-image: url(../images/steps.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.main-center{
    width: 100%;
    
}
h2 {
    font-family: 'Bitter',serif;
    font-size:  24px;
}
.icon:before{
    content: ""; 
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}
#about {
    background-image: url(../images/about.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100%;
}
#about .profile-txt {
    width: 50%;
    float: left;
}
#about .profile-txt span {
    font-weight: bold;
}
#about .profile-image {
    float: left;
    width: 30%;
}
.clear {
    clear: left;
}

.clearfix:after {
    content:"";
    display:block;
    clear: both;
}
section {
    margin-bottom: 35px;
}
#about .career th {
    width: 400px;
    background-color: #f0f0f0;
    padding: 12px 5px;
    border: 1px solid #cccccc;
}
#about .career td {
    width: 80%;
    padding: 12px 0 12px 40px;
    border: 1px solid #cccccc;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
#index #wrap{
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

.main {
    width: 100%;
    margin: 0 10px;
    float: left;
}
.sidebar {
    width: 150px;
    margin: 0 10px 0 80px;
    float: right;
}
a imag:hover {
    opacity: 0.8;
}
.sidebar h2 {
    margin-bottom: 10px;
}
.sidebar ul {
    font-size: 15px;
    margin-left: 20px;
}
.sidebar ul a {
    color: #333333;
}
a img:hover {
    opacity: 0.8;
}

/*-------------------------Contact-------------------------*/

#contact {
    background-image: url(../images/message.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100%;
}
#contact .access th,
#contact .access td {
    text-align: left;
    vertical-align: top;
    line-height: 2.5;
    font-size: 15px;
}
#contact .access td {
    padding-left: 30px;
}
#contact .access iframe {
    width: 100%;
}
#contact .form {
    background-color: #eaeaea;
    padding: 30px 50px;
}
#contact .form dl dt {
    width: 150px;
    padding: 10px 0;
    float: left;
    clear: both;
}
#contact .form dl dd {
    padding: 10px 0;
}
#contact .form .name {
    width: 200px;
    height: 30px;
}
#contact .form .type {
    width: 180px;
    height: 30px;
}
#contact .form .message {
    width: 100%;
    height: 150px;
}
#contact .form button {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    width: 120px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}
.transmission-btn {
    margin-left: 125px;
}
#contact .form button:hover {
    background-color: #ffffff;
    color: #009cd3;
    cursor: pointer;
}
#contact .form .required:after {
    content: "*";
    color: #ff0000;
}
#contact .form .attention {
    margin: 20px 0 0 165px;
}

/*-------------------------Skill-------------------------*/

#skill {
    background-image: url(../images/IT.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100%;
}
.language-icon img {
    width: 90px;
    height: 100px;
}
.language-box {
    float: left;
    width: 25%;
}
.language-text {
    width: 80%;
    display: inline-block;
    font-size: 12px;
    word-break: break-all;
    text-align: left;
}
.language-boxs {
    text-align: center;
    margin-top: 80px;
}

/*-------------------------メニューボタン-------------------------*/

#hamburger {
    display: none;
}
#menu {
    display: none;
}
